.card-news{

    .typography-card-title{
        color: #d5d5d5;
        font-weight: 500;
        overflow: hidden;
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .typography-card-body {
        color: #d5d5d5;
        font-weight: 100;
        overflow: hidden;
        font-size: 13px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

}
